.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  align-items: center;
  justify-items: center;
  padding: 0px;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  height: 100vh; 
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/pattern-bg-desktop.png');
}

@media (max-width: 768px) {
  .main {
    background-image: url('/assets/pattern-bg-mobile.png');
  }
}

@media (max-width: 600px) {
  .page {
    padding: 0;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }
}

.interface {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  flex: 1; /* Permite que el contenedor del mapa ocupe el espacio restante */
  display: flex;
  width: 100%;
  height: calc(100vh - 280px); /* Altura restante después de main */
}
