@use "sass:math";

/******************/
/***** Colors *****/
/******************/
$primary: #2C2C2C;
$secondary: #979797;

/*****************/
/*  Rem Formula  */
/*****************/
@function px-to-rem($px) {
    $rem-base: 16px;
    @return #{math.div($px, $rem-base)}rem;
}

/***********/
/*  Fonts  */
/***********/
@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Regular.ttf");
}