@use "sass:math";

/******************/
/***** Colors *****/
/******************/
$primary: #2C2C2C;
$secondary: #979797;

/*****************/
/*  Rem Formula  */
/*****************/
$base-font-size: 16px;
@function px-to-rem($px, $base: $base-font-size) {
    @return math.div($px, $base) * 1rem;
}

/***********/
/*  Fonts  */
/***********/
@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Regular.ttf");
}