@use "sass:math";
/******************/
/***** Colors *****/
/******************/
$primary: #2C2C2C;
$secondary: #979797;

/*****************/
/*  Rem Formula  */
/*****************/
$base-font-size: 16px;
@function px-to-rem($px, $base: $base-font-size) {
    @return math.div($px, $base) * 1rem;
}

/***********/
/*  Fonts  */
/***********/
@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Regular.ttf");
}

p, h3, h2, h4, article, li, h1, span {
    font-family: "Rubik";
}

h1 {
    font-size: px-to-rem(32px);
    font-weight: 700;
    color: white;
    letter-spacing: px-to-rem(.29px);
}

h2 {
    font-size: px-to-rem(14px);
    font-weight: 400;
    color: $primary;
    letter-spacing: px-to-rem(1.75px);
}

span {
    font-size: px-to-rem(26px);
    font-weight: 400;
    color: $primary;
    letter-spacing: px-to-rem(0.23px);
    line-height: px-to-rem(30px );
}

input {
    outline: none;
}