@import "../app/variables.module.scss";

.layout {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: px-to-rem(1110px);
  height: px-to-rem(161px);
  background-color: white;
  border-radius: px-to-rem(10px);
  z-index: 5;

  position: absolute;
  top: calc(280px - 80.5px); /* Posiciona el componente User */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.grow1 { 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: baseline;
  width: 25%;
  padding: 1.5rem;
}

.divider {
    width: 2px;
    height: 50%;
    background-color: #ccc;
    opacity: 0.3;
  }

@media (max-width: 768px) {
    .layout {
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 35%;
        justify-content: space-evenly;
        padding: 1rem;
        top: 166px; /* Posiciona el componente User */
    }
    .divider {
        display: none;
    }
    .grow1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        flex-grow: 0;
    }
}